@model CoopManagement.ViewsModels.CooperadoViewModel

<div class="card shadow mb-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Sexo)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EstadoCivil)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.EstadoCivil)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.RacaCor)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RacaCor)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NecessidadeEspecial)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NecessidadeEspecial)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Cpf)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Rg)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Rg)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.OrgaoExpedidorRg)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.OrgaoExpedidorRg)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataExpedicaoRg)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DataExpedicaoRg)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Naturalidade)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Naturalidade)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nacionalidade)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NomePai)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NomePai)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NomeMae)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NomeMae)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.RendaFamiliar)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RendaFamiliar)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Matricula)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Matricula)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Turma)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Turma)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Escolaridade)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Escolaridade)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Logradouro)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Logradouro)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Bairro)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Cidade)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Cep)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Cep)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TelefoneResidencial)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TelefoneResidencial)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TelefoneCelular)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TelefoneCelular)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataMatricula)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DataMatricula)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataDesligamento)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DataDesligamento)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CotaParte)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CotaParte)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.StatusMatricula)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.StatusMatricula)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Curso)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Curso.Nome)
            </dd>
        </dl>
        <div class="text-right">
            <a asp-page="./Index" type="button" class="btn btn-secondary">
                <i class="fa fa-arrow-left text-white-50"></i>
                Voltar
            </a>
            <a type="button" class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Id">
                <i class="fa fa-pencil-alt text-white-50"></i>
                Editar
            </a>
            <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                <i class="far fa-trash-alt text-white-50"></i>
                Deletar
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-danger" id="exampleModalLabel">
                    Excluir cooperado
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Tem certeza que deseja excluir este cooperado?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times text-white-50"></i>
                    Cancelar
                </button>
                <form method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">
                        <i class="far fa-trash-alt text-white-50"></i>
                        Excluir
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
