@page
@model CoopManagement.Pages.Cooperados.IndexModel

@{
    ViewData["Title"] = "Cooperados";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Cooperados</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Cooperados</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    @if (Model.Cooperados.Count == 0)
    {
        <div class="middle-box">
            <h4 class="text-muted" align="center">
                Não há cooperados cadastrados no sistema <br />
                <a asp-page="Create" class="btn btn-link">
                    <i class="fa fa-plus"></i>
                    Cadastrar primeiro
                </a>
            </h4>
        </div>
    }
    else
    {
        <div class="ibox">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <a asp-page="Create" class="btn btn-link text-primary">
                        <i class="fa fa-plus"></i>
                        Cadastrar novo curso
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table border">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Cooperados[0].Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cooperados[0].Matricula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cooperados[0].DataMatricula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cooperados[0].StatusMatricula)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cooperados)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Matricula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataMatricula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StatusMatricula)
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@item.Id">Editar</a>
                                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.Id">Detalhes</a>
                                    <a class="btn btn-secondary" asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
