@page
@model CoopManagement.Pages.Cursos.DetailsModel

@{
    ViewData["Title"] = "Cursos";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Detalhes do curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso.Grau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso.Grau)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Curso.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
