@page
@model CoopManagement.Pages.Cursos.IndexModel

@{
    ViewData["Title"] = "Cursos";
}

<h1>Cursos</h1>

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Cadastrar novo curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Grau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Curso) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grau)
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-outline-success" asp-page="./Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
