@page
@model CoopManagement.Pages.Cooperados.IndexModel

@{
    ViewData["Title"] = "Cooperados";
}

<style>
    .info {
        color: grey;
        line-height: 400px;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Cadastrar novo cooperado</a>
</p>

@if (Model.Cooperado.Count == 0)
{
    <h4 class="text-center info">Não há cooperados cadastrados no sistema</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cooperado[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cooperado[0].Matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cooperado[0].DataMatricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cooperado[0].StatusMatricula)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cooperado)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataMatricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusMatricula)
                    </td>
                    <td class="text-right">
                        <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-outline-success" asp-page="./Details" asp-route-id="@item.Id">Detalhes</a>
                        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
