@page
@model CoopManagement.Pages.Cursos.IndexModel

<style>
    .id-curso {
        cursor: pointer;
    }
</style>

@{
    ViewData["Title"] = "Cursos";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @{ await Html.RenderPartialAsync("_HeaderPartial.cshtml"); }
        </div>
    </div>
    @if (Model.Cursos.Count == 0)
    {
        <div class="vertical-center justify-content-center">
            <h4 class="text-muted" align="center">
                Não há cursos cadastrados no sistema <br />
                <a asp-page="Create" class="btn btn-link">
                    <i class="fa fa-plus"></i>
                    Cadastrar primeiro
                </a>
            </h4>
        </div>
    }
    else
    {
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <table class="table table-hover border">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cursos[0].Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cursos[0].Grau)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Cursos)
                                {
                                    <tr class="id-curso" data-curso="@item.Id">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grau)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(".id-curso").click(function () {
        const id_curso = $(this).data('curso');
        window.location.href = "/Cursos/Details?id=" + id_curso
    });
</script>
