{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block body %}

    <div class="container">
        <h2>Cooperados matriculados</h2>

        <hr class="col-md-12 mb-3">

        <nav class="nav">
            <a class="nav-link" href="/cooperado/novos">Novas matrículas</a><br><br>
            <a class="nav-link" href="/cooperado/lista">Listar</a><br><br>
            <a class="nav-link" href="/cooperado/desligados">Desligados</a><br><br>
            <a class="nav-link" href="/usuario">Voltar</a><br><br>
        </nav>

        {% if cooperados %}
            <table class="table table-hover">
                <form action="/cooperado/acaoBotoes" method="POST">
                    <thead>
                        <tr>
                            <th scope="col">Matrícula</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Data de Matrícula</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cooperado in cooperados %}
                            <tr>
                                <th scope="row">{{ cooperado.getId() }}</th>
                                <td>{{ cooperado.getNome() }}</td>
                                <td>{{ cooperado.getCurso().getNome() }}</td>
                                <td>{{ cooperado.getDataMatricula()|date('d/m/Y') }}</td>
                                <td>
                                    <input type="hidden" value="{{ cooperado.getId() }}" name="id">
                                    <button type="submit" class="btn btn-outline-danger" name="acao" value="desligar" id="{{ cooperado.getId() }}" title="Desligar um cooperado">Desligar</button>
                                    <button type="submit" class="btn btn-outline-info" name="acao" value="ficha" id="{{ cooperado.getId() }}" title="Abrir a ficha de matrícula">Ficha</button>
                                    <button type="submit" class="btn btn-outline-secondary" name="acao" value="editar" id="{{ cooperado.getId() }}" title="Editar dados cadastrais">Editar</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </form>
            </table>
        {% endif %}

        {% if not cooperados %}
            <h5 style="text-align: center; color: grey">Ainda não há cooperados matriculados</h5>
        {% endif %}
    </div>

{% endblock %}