{% extends 'base.html.twig' %}

{% block title %}Cooperados{% endblock %}

{% block stylesheets %}

    <style>
        .mensagem {
            height:100px;
            position:absolute;
            top:50%;
            left:50%;
            margin-left:-100px;
            color: grey;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="container">
        <h2>Novas matrículas</h2>

        <hr class="col-md-12 mb-3">

        <nav class="nav">
            <a class="nav-link" href="/cooperado/novos">Novas matrículas</a><br><br>
            <a class="nav-link" href="/cooperado/lista">Listar</a><br><br>
            <a class="nav-link" href="/cooperado/desligados">Desligados</a><br><br>
            <a class="nav-link" href="/usuario">Voltar</a><br><br>
        </nav>

        {% if cooperados %}
            <table class="table table-hover">
                <form action="/cooperado/efetivar" method="POST">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Data de Matrícula</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cooperado in cooperados %}
                            <input type="hidden" value="{{ cooperado.getId() }}" name="id">
                            <tr>
                                <td>{{ cooperado.getNome() }}</td>
                                <td>{{ cooperado.getCurso().getNome() }}</td>
                                <td>{{ cooperado.getDataMatricula()|date('d/m/Y') }}</td>
                                <td>
                                    <button class="btn btn-outline-success" id="{{ cooperado.getId() }}" name="{{ cooperado.getId() }}" type="submit">Efetivar</button>
                                    <button class="btn btn-outline-secondary" id="{{ cooperado.getId() }}">Ficha</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </form>
            </table>
        {% endif %}

        {% if not cooperados %}
            <h5 class="mensagem">Não há novas matrículas</h5>
        {% endif %}
    </div>
    
{% endblock %}

