{% extends 'base.html.twig' %}

{% block title %}Teste{% endblock %}

{% block body %}

    <div class="container">
        <h2>Página para testes</h2>
        {# {{ cooperado.getNome() }} <br>
        {{ cooperado.getSexo() }} <br>
        {{ cooperado.getEstadoCivil() }} <br>
        {{ cooperado.getDataNascimento() }} <br><br> #}

        {{ curso.getNome() }}<br>
        {{ curso.getGrau() }}<br>

        <a href="/usuario">Voltar</a>
    </div>
    
{% endblock %}

